.tamanho {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.left margem{
    height: 200px;
}

@media only screen and (max-width: 767px ) {
  body {
    background-color: rgb(255, 255, 255);
  }
  .tamanho{
    width: 50%;
  }

}
@media screen and (min-width: 250px){
    .tamanho{
        width: 70%;
    }
}